# LangChain ve ilgili bileşenler
langchain>=0.2.1
langchain-core>=0.2.1
langchain-community>=0.2.1
langchain-huggingface>=0.0.3

# Dil modeli ve embedding'ler
g4f==0.6.0.0
tiktoken>=0.7.0
numpy>=1.26.4
sentence-transformers>=2.7.0
torch>=2.3.1

# Vektör veritabanı
chromadb>=0.5.3

# Web sunucusu
Flask>=3.0.3